<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Attendance Manager - Home</title>
</head>
<body>
    <div class="navBar">
        <label id="home_title">Attendance Manager</label>
        <button id="home_logout_btn">Logout</button>
    </div>

    <div id="home_working_area">
        <div id="subject_list_area">
            <div id="new_subject_card">
                <form action="/newSubject" method="POST">
                    <div id="new_subject_dets">
                        <label class="subject_card_title_txt">Name: </label>
                        <input type="text" name="new_subject_name"><br>
                        <label class="subject_card_attended_txt">Attended: </label>
                        <input type="text" name="new_subject_attended"><br>
                        <label class="subject_card_attended_txt">Total: </label>
                        <input type="text" name="new_subject_total"><br>
                        <label class="subject_card_attended_txt">Target: </label>
                        <input type="text" name="new_subject_target">
                    </div>
                    <div id="new_subject_controls">
                        <input type="submit">
                    </div>
                </form>
            </div>
            <div id="subject_cards">
                {{#each subjects}}
                    <div class="subject_card" id="{{subjectId}}">
                        <div class="subject_card_dets">
                            <label class="subject_card_title_txt">{{name}}</label><br>
                            <label class="subject_card_attended_txt">Attendence: {{attendedLecs}}/{{totalLecs}}</label><br>
                            <label class="subject_card_attended_txt">Target: {{target}}%,</label>
                            <label class="subject_card_attended_txt">Current: {{percentage}}%</label>
                        </div>
                        <div class="subject_card_controls">
                            <form method="POST">
                                <button type="submit" formaction="/present/{{subjectId}}">Present</button>
                                <button type="submit" formaction="/absent/{{subjectId}}">Absent</button>
                            </form>
                        </div>
                    </div>
                {{/each}}
            </div>    
        </div>
        <div id="subject_details_area">
            <div id="subject_toolbar">
                <button style="float: left; height:100%;">Undo</button>
                <button style="float: right; height:100%" onclick="deleteSubject()">Delete</button>
            </div>
            <div id="calendar" style="display: block;">
                <div id="calendar_header">
                    <button id="prev_month" style="float: left; font-size:79%;" onclick="switchToPrevMonth()">Prev</button>
                    <label id="calendar_title"></label>
                    <button id="next_month" style="float: right; font-size: 79%;" onclick="switchToNextMonth()">Next</button>
                </div>
                <div id="calendar_body">
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/HomePage.js"></script>
</body>
</html>

<!--
<div id="new_subject_card">
                <form action="/newSubject" method="POST">
                    <div id="new_subject_dets">
                        <label class="subject_card_title_txt">Subject Name:</label>
                        <input type="text" id="new_subject_name" name="new_subject_name"><br>
                        <div id="new_subject_att_dets">
                            <label class="subject_card_attended_txt">Attended:</label>
                            <input type="text" id="new_subject_attended" name="new_subject_attended">
                            <label class="subject_card_total_txt">Total:</label>
                            <input type="text" id="new_subject_total" name="new_subject_total">
                            <label class="subject_card_target_txt">Target: </label>
                            <input type="text" id="new_subject_target" name="new_subject_target">
                        </div>
                    </div>
                    <div id="new_subject_controls">
                        <input type="submit" id="new_subject_create_btn">
                    </div>
                </form>
            </div>
    -->